<% provide(:title, "List of registered devices") %>
<h1 class="page-header">Device manager <small>(<%= @devices.count %>)</small></h1>
<table class="table table-hover tablesorter" id="myTable">
<thead>
	<tr>
		<th class="header"><div>Status</div></th>
		<th class="header"><div>Device Name</div></th>
		<th class="header"><div>Device ID</div></th>
		<th class="header"><div>IP</div></th>
		<th class="header"><div>Bitrate</div></th>
		<th class="header"><div>Action</div></th>
	</tr>
	</thead>
	<tbody>	
	<% @devices.each do |device| %>
	<tr>
		<td><%=device.get_status%></td>
		<td><%=device.name%></td>
		<td><%=device.device_id%></td>
		<td><%=device.address%></td>
		<td><%=device.get_bitrate%></td>
		<td><div class="btn btn-group">
			<%= link_to "", device_path(device), class: "btn btn-primary glyphicon glyphicon-cog", title: "Details" %>
			<%= link_to "", device_path(device), :method => "DELETE", :data => {:confirm => "U sure?"}, class: "btn btn-primary glyphicon glyphicon-trash " , title: "Remove"%>			
			<%= link_to "", watch_device_path(device), class: "btn btn-primary glyphicon glyphicon-expand " , title: " Watch"%>
			<%= link_to "", block_device_path(device), class: "btn btn-primary glyphicon glyphicon-ban-circle" , title: "Block"%>
			<% if device.status == 0 %>
			<%= link_to "", approve_device_path(device), class: "btn btn-primary glyphicon glyphicon-ok" , title: "Approve" %>
			<%= link_to "", reject_device_path(device), class: "btn btn-primary glyphicon glyphicon-remove" , title: "Reject" %>
			<% end %>
		</div>
		</td>
	</tr>			
	<% end %>
	</tbody>
</table>

<script>
	$(document).ready(function(){
		$(function(){
			$("#myTable").tablesorter({
				theme : 'blue',
 
			    sortList : [[1,0],[2,0],[3,0]],
			 
			    // header layout template; {icon} needed for some themes
			    headerTemplate : '{content}{icon}',
			 
			    // initialize column styling of the table
			    widgets : ["columns"]
			});
		});
	});
</script>

<%= content_for :extended_js do %>
	<%= javascript_include_tag "tablesorter", :cache => true %>
<% end %>