<%provide(:title, "@device.device_name") %>
<h1 class="page-header">Device details</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
	<%= form_for @device do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :device_name %><br />
	<%= f.text_field :device_name %>

	<%= f.label :device_id %><br />
	<%= f.text_field :device_id%>

	<%= f.label :address %><br />
	<%= f.text_field :address %>


	<%= f.label :bitrate %><br />
	<%= f.text_field :bitrate %>

	<%= f.submit "Update", :disable_with => 'Updating...' ,class: "btn btn-danger"%>

	<% end %>
	</div>
</div>	